.azure
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
dist/
node_modules/
tmp/
_tmp/
tmp-*/
out/
_files/
_vectors/
_queues/
*.patch
.codeql
aspire-manifest.json
*.pyc
__pycache__/

# Private data
appsettings.Production.json
*.bicep
*.crt
*.key
*.pem
*.csr

# User-specific files
.todo/
.vscode/
_dev/
*.devis.*
*.devis
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Misc
.DS_Store
.idea
*.log
